.app-errs-container {
  height: 100%;
  background-color: $white;
}
.app-errs-with404 {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row;

  .options {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .title {
    font-size: 32px;
    margin-bottom: $spacer-y;
    color: $color-indigo;
  }

  .subtitle {
    letter-spacing: 2px;
    margin-bottom: $spacer-y*2;
  }

  .error-logo {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $spacer-x*3;
  }

  .el-button--text {
    color: $color-indigo;
    font-weight: bold;

    &:hover {
      color: lighten($color-indigo, 15%);
    }
  }
}

@media screen and (max-width: $d-sm) {
  .app-errs-with404 {
    flex-flow: column;
    align-items: center;

    .error-logo {
      margin: 0;
    }

    .options {
      white-space: nowrap;
      text-align: center;
    }
  }
}
