.el-dialog {

  &.full-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;

    &:not(.spaced) {
      margin: 0 !important;
      border-radius: 0;
    }

    &.spaced {
      margin: $spacer-base !important;
    }
  }

  .el-dialog__body {
    padding: $spacer-lg;
  }
}
