.el-form {
  &:not(.el-form--inline) {
    .el-form-item:last-child {
      margin-bottom: 0;
    }
  }

  .el-form-item {
    margin-bottom: $spacer-lg;
  }

  .el-form-item__error {
    padding-top: 2px;
  }
}
