.app-brand {
  display: inline-block;
  transition: $transition-color;

  .brand-logo,
  .brand-title {
    display: inline-block;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}
