.va-panels {
  display: block;
  padding: $spacer-base;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: $radius-base;
  overflow: hidden;

  transition: $transition-all;

  &.has-interaction {
    cursor: pointer;

    &:hover, &.checked {
      border-color: $color-theme;
      color: $color-theme;
    }
  }
}
