{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 5%", "last 2 versions", "not ie <= 11"]
      }
    }]
  ],
  "plugins": [
    "@vue/babel-plugin-transform-vue-jsx",
    "@babel/transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
