//
// Override element-ui primary color.

@import "../styles/variables";

$--color-success: $color-green;
$--color-danger:  $color-red;
$--color-primary: $theme-color;
$--color-info:    $gray-600;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "../../node_modules/element-ui/packages/theme-chalk/src/index";
