@import "../variables";

$login-form-padding:      $spacer-x;
$login-form-width:        380 + $login-form-padding * 2;
$login-form-logo-height:  96px;

.login-container {
  background-color: $sidebar-bg-color;
  height: 100%;
  color: $gray-200;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    margin-top: -80px;
    width: 380px;
    padding: 0 $login-form-padding;

    .form-title {
      margin-top: 0;
      margin-bottom: $spacer-y * 4;
      text-align: center;
      height: $login-form-logo-height;
      line-height: $login-form-logo-height;

      > img {
        width: $login-form-logo-height;
        height: $login-form-logo-height;
      }
    }

    .el-input__prefix, .el-input__suffix {
      font-size: 18px;
      .icon-svg {
        vertical-align: -0.4em;
      }
    }

    .forget-link {
      color: $gray-650;
    }

    .el-button.btn-login {
      width: 100%;
    }
  }

  .copyright {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-bottom: $foobar-padding-y;
    white-space: nowrap;

    br {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .login-container .login-form {
    width: 100%;
  }
}
