code {
  padding: $spacer-lg $spacer-xl !important;
  font-family: Consolas, Courier, "Microsoft YaHei", monospace, serif !important;
  line-height: 1.5;
  border-left: solid 5px $color-gray-400;

  strong {
    color: $color-red;
  }
}

pre {
  display: block;
  height: auto;
  min-height: auto;
  max-height: none;
  padding: 0;
  white-space: normal;
}

blockquote {
  border-left: solid 3px $color-gray-400;
  margin-left: 0;
  margin-right: 0;
  padding: $spacer-base $spacer-base $spacer-base $spacer-xxl;
  background-color: $color-gray-100;

  > p {
    margin-top: 0;
    color: $color-gray-600;
  }

  > p:nth-last-child(1):first-child,
  > p:last-child {
    margin-bottom: 0;
  }
}
