code {
  color: $color-green-500;
  background-color: $color-green-100;
  margin: 0 4px;
  display: inline-block;
  padding: 1px 5px;
  font-size: $font-size-xs;
  border-radius: 3px;
  height: $font-size-xl;
  line-height: $font-size-xl;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
}

blockquote {
  border-left: solid 3px $gray-400;
  margin-left: 0;
  margin-right: 0;
  padding: $spacer-y*1.5 $spacer-x $spacer-y*1.5 $spacer-x * 2;
  background-color: $gray-150;

  > p {
    margin-top: 0;
    color: $gray-600;
  }

  > p:nth-last-child(1):first-child,
  > p:last-child {
    margin-bottom: 0;
  }
}
