.container-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: $sidebar-width;
  transition: $transition-sidebar-desktop;
}

.sidebar-backdrop {
  display: none;
}

.container-main {
  position: relative;
  margin-left: $sidebar-width;
  height: 100%;
  overflow: hidden;
  transition: $transition-main-desktop;
  padding-top: $header-height + $tabbar-height;
  padding-bottom: $foobar-height;

  &.no-tab-breadcrumb {
    padding-top: $header-height!important;
  }
}

.app-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.app-body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .container-body {
    min-height: 100%;
    padding: $spacer-x;
    background-color: $white;

    &.no-bg {
      background-color: transparent;
    }
  }
}

@media screen and (min-width: $d-sm) {
  .app-wrapper {
    &:not(.sidebar-expanded) {
      .sidebar-menu .menu-item {
        margin-right: -$sidebar-sub-offset;

        .el-icon-arrow-up {
          display: none;
        }

        .menu-subs {
          padding: $sidebar-sub-menu-padding;
          position: absolute;
          top: 0;
          left: 100%;
          visibility: hidden;
          opacity: 0;
          transition: $transition-transform, $transition-opacity;
          transform: translate3d(0, 10px, 0);

          .subs-item {
            width: $sidebar-sub-item-width;
          }
        }

        &:hover .menu-subs {
          visibility: visible;
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &.sidebar-expanded {
      .container-sidebar {
        width: $sidebar-width-expanded;
      }

      .container-main {
        margin-left: $sidebar-width-expanded;
      }

      .sidebar-menu .menu-item {

        .item-link {
          padding-right: $sidebar-menu-item-padding-r;
          text-align: left;

          cite { display: inline-block; }
        }

        .menu-subs {
          display: none;

          .subs-item {
            width: auto;
            padding-left: $sidebar-menu-item-padding-l + 3px;
          }
        }

        &.expanded {
          .el-icon-arrow-up {
            transform: rotate(180deg);
          }

          .menu-subs {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $d-sm) {
  .container-sidebar {
    width: $sidebar-width-mobile;
    transition-property: transform;
    transform: translate3d(-$sidebar-width-mobile, 0, 0);
  }

  .sidebar-backdrop {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-sidebar-backdrop;
    opacity: 0;
    visibility: hidden;
    background-color: $sidebar-backdrop-bg;
    transition: $transition-opacity;
  }

  .container-main {
    margin-left: 0!important;
    transition-property: transform;
    transform: translate3d(0, 0, 0);
  }

  .sidebar-menu .menu-item {

    .item-link {
      padding-right: $sidebar-menu-item-padding-r!important;

      .icon-svg {margin: 0;}
      cite { display: inline-block!important; }
    }

    .menu-subs {
      display: none;

      .subs-item {
        padding-left: $sidebar-menu-item-padding-l!important;
      }
    }

    &.expanded {
      .el-icon-arrow-up {
        transform: rotate(180deg);
      }

      .menu-subs {
        display: block;
      }
    }
  }

  .app-wrapper.sidebar-expanded {
    .container-sidebar {
      transform: translate3d(0, 0, 0);
    }

    .sidebar-backdrop {
      opacity: 1;
      visibility: visible;
    }

    .container-main {
      transform: translate3d($sidebar-main-offset-mobile, 0, 0);
    }
  }
}
