.app-footer {
  height: $foobar-height;
  line-height: $foobar-line-height;
  padding: $foobar-padding-y $foobar-padding-x;
  box-shadow: $foobar-shadow;
  background-color: $foobar-bg;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
