.app-header {
  height: $header-height;
  line-height: $header-line-height;
  padding: $header-padding;
  border-bottom: $border-default;
  background-color: $header-bg;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-header;
}

.header-nav {
  font-size: 0;

  &.nav-left { @extend .float-l }

  .nav-item {
    display: inline-block;
    vertical-align: top;
    line-height: $header-links-line-height;
    padding: $header-links-padding;
    font-size: $header-icon-size;
    border-top: $header-links-border;
    cursor: pointer;
    transition: $transition-border;

    &:hover {
      border-top: $header-links-hover-border;
    }
  }
}

@media screen and (max-width: $d-sm) {
  .app-header {
    padding: 0;
  }
}
