*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

html {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-text-primary;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-gray-100;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1, .h1 { font-size: $font-size-h1 }
h2, .h2 { font-size: $font-size-h2 }
h3, .h3 { font-size: $font-size-h3 }
h4, .h4 { font-size: $font-size-h4 }
h5, .h5 { font-size: $font-size-h5 }
h6, .h6 { font-size: $font-size-h6 }

hr {
  border-top: $border-default;
  border-left: $border-default;
  margin: $spacer-base 0;
}
