*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

html {
  font-size: $font-size-base;
  //font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;;
  color: $gray-800;
}

body {
  background-color: $gray-200;
}

hr {
  border: 0 none;
  height: 1px;
  background-color: $gray-400;
}

//
//
// reset element-ui some styles

.el-popper[x-placement^=bottom] {
  margin-top: 0!important;
}
