*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

html {
  font-size: $font-size-base;
  font-family: $font-family-default;
  color: $gray-800;
}

body {
  background-color: $gray-200;
}

hr {
  border: 0 none;
  height: 1px;
  background-color: $gray-400;
}
