*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

html {
  font-size: $font-size-base;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  color: $gray-800;
}

body {
  background-color: $gray-150;
}
