.app-tabbar {
  border-bottom: $tabbar-border;
  height: $tabbar-height;
  line-height: $tabbar-line-height;
  padding: $tabbar-padding;
  background-color: $tabbar-bg;
  box-shadow: $shadow-sm;
  font-size: 0;
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  z-index: $zindex-tabbar;

  .tabbar-item {
    height: $tabbar-height;
    line-height: $tabbar-line-height;
    padding: $tabbar-padding;
    border-bottom: $tabbar-item-border;
    display: inline-block;
    vertical-align: top;
    color: $link-color-gray;
    font-size: 1rem;
    text-decoration: none;
    transition: $transition-border;

    &:hover {
      color: $theme-color;
    }

    &.active {
      color: $theme-color;
      border-bottom-color: $theme-color;
    }

    .icon-svg {
      font-size: $font-size-xl;
    }
  }
}
