.app-tabbar {
  height: $tabbar-height;
  border-bottom: $tabbar-border;
  line-height: $tabbar-line-height;
  padding: $tabbar-padding;
  background-color: $tabbar-bg;
  box-shadow: $shadow-sm;
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  z-index: $zindex-tabbar;
}
