//
// Application body transition animations

.transform-fade-leave-active,
.transform-fade-enter-active {
  transition: all $transition-duration / 2;
}
.transform-fade-enter, .transform-fade-leave-to {
  opacity: 0;
  transform: translate3d(0, $spacer-sm, 0);
}


//
// breadcrumb transition animations

.transition-breadcrumb-enter-active,
.transition-breadcrumb-leave-active {
  transition: all $transition-duration * 2;
}

.transition-breadcrumb-enter,
.transition-breadcrumb-leave-active {
  opacity: 0;
  transform: translateX($spacer-lg);
}

.transition-breadcrumb-leave-active {
  position: absolute;
}
