//
// Application body transition animations

.transform-fade-leave-active,
.transform-fade-enter-active {
  transition: all $transition-duration / 2;
}
.transform-fade-enter, .transform-fade-leave-to {
  opacity: 0;
  transform: translate3d(0, $spacer-sm, 0);
}


//
// breadcrumb transition animations

.transition-breadcrumb-enter-active,
.transition-breadcrumb-leave-active {
  transition: all $transition-duration * 2;
}

.transition-breadcrumb-enter,
.transition-breadcrumb-leave-active {
  opacity: 0;
  transform: translateX($spacer-lg);
}

.transition-breadcrumb-leave-active {
  position: absolute;
}


//
// Sidebar submenus when sidebar is closed.

.transition-fade-in-bottom-enter-active {
  transition: all $transition-duration cubic-bezier(.55, 0, .1, 1);
}

.transition-fade-in-bottom-enter,
.transition-fade-in-bottom-leave-active {
  opacity: 0;
}

.transition-fade-in-bottom-enter {
  transform: translateY($spacer-base);
}
