//
// icon font svg by symbol

.icon-svg {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;

  &.handle-refresh.doing {
    color: $theme-color;
    animation: ani-rotate .8s ease-out infinite;
  }
}


//
// Text Colors

.text-muted { color: $gray-500; }


//
// Text align

.text-left { text-align: left }
.text-right { text-align: right }


//
// float util

.float-l { float: left; }
.float-r { float: right; }
.clearfix:after { content: ''; display: block; clear: both; }
