// Colors

$gray-100:                    #f8f9fa!default;
$gray-150:                    #f0f2f5!default;
$gray-200:                    #e9ecef!default;
$gray-300:                    #dee2e6!default;
$gray-400:                    #ced4da!default;
$gray-500:                    #adb5bd!default;
$gray-600:                    #6c757d!default;
$gray-650:                    #606266!default;
$gray-700:                    #495057!default;
$gray-800:                    #343a40!default;
$gray-900:                    #212529!default;

$white:                       #ffffff!default;
$black:                       #000000!default;
$dark:                        #323232!default;

$color-blue:                  #072a57!default;
$color-blue-dark:             #03152a!default;
$color-blue-light:            lighten($color-blue, 20%)!default;

$color-green:                 #28a745!default;
$color-green-100:             #7fda93!default;
$color-green-200:             #5bd375!default;
$color-green-400:             #367d46!default;
$color-green-500:             #0d6d22!default;

$theme-color:                 $color-green !default;
$link-color-gray:             $gray-600!default;
$link-color-gray-hover:       $theme-color!default;


// Fonts

$font-size-base:              14px!default;
$font-size-sm:                13px!default;
$font-size-xs:                12px!default;
$font-size-lg:                16px!default;
$font-size-xl:                18px!default;
$font-size-xxl:               22px!default;

$font-size-icons:             $font-size-lg;


// Spacers

$spacer-y:                    9px!default;
$spacer-x:                    15px!default;


// line, borders

$border-default-width:        1px;
$border-default-color:        $gray-300!default;
$border-default:              solid $border-default-width $gray-300!default;
$border-theme:                solid $border-default-width $theme-color;


// device breakpoint

$d-sm:  768px;
$d-md:  992px;
$d-lg:  1200px;
$d-xl:  1920px;


// Shadows

$shadow-sm:                   0 .1rem .2rem rgba(0, 0, 0, .075)!default;
$shadow-sm-invert:            0 -.1rem .2rem rgba(0, 0, 0, .075)!default;
$shadow-md:                   0 .2rem .4rem rgba(0, 0, 0, .075)!default;


// Transitions

$transition-duration:         .28s!default;

$transition-default:          all $transition-duration ease-out!default;
$transition-border:           border $transition-duration ease-out!default;
$transition-opacity:          opacity $transition-duration ease-out!default;
$transition-background:       background $transition-duration ease-out!default;
$transition-color:            color $transition-duration ease-out!default;
$transition-margin:           margin $transition-duration ease-out!default;
$transition-transform:        transform $transition-duration ease-out!default;

$transition-sidebar-desktop:  width $transition-duration ease-out!default;
$transition-main-desktop:     margin-left $transition-duration ease-out!default;
$transition-main-mobile:      left $transition-duration ease-out!default;


// zindex

$zindex-sidebar:              1030;
$zindex-sidebar-dropdown:     1040;
$zindex-sidebar-backdrop:     1020;
$zindex-header:               1000;
$zindex-header-dropdown:      1010;
$zindex-tabbar:               1000;
$zindex-footer:               1000;

$zindex-text-editor:          1031;


// Header bar

$header-bg:                   $white;

$header-icon-size:            22px;

$header-border-width:         $border-default-width;
$header-links-border-width:   2px;
$header-links-border:         solid $header-links-border-width transparent;
$header-links-hover-border:   solid $header-links-border-width $theme-color;

$header-height:               50px;
$header-line-height:          $header-height - $header-border-width;
$header-links-line-height:    $header-height - $header-border-width - $header-links-border-width * 2;

$header-padding:              0 $spacer-x;
$header-links-padding:        0 $spacer-x $header-links-border-width;
$header-links-user-padding:   5px;
$header-links-img-width:      $header-links-line-height;
$header-links-img-height:     $header-links-img-width;


// Sidebar

$sidebar-width:               60px!default;
$sidebar-width-expanded:      210px!default;
$sidebar-width-mobile:        $sidebar-width-expanded!default;
$sidebar-main-offset-mobile:  $sidebar-width-mobile/2!default;

$sidebar-bg:                  $color-blue-dark;
$sidebar-backdrop-bg:         rgba(0, 0, 0, .5);

// Sidebar brand

$sidebar-brand-height:        $header-height;
$sidebar-brand-padding-x:     $spacer-x;
$sidebar-brand-padding-y:     10px;
$sidebar-brand-line-height:   $sidebar-brand-height - $sidebar-brand-padding-y*2;

// Sidebar sub menu

$sidebar-menu-item-height:        50px;

$sidebar-sub-offset:                  5px;
$sidebar-sub-menu-padding:            $spacer-y/2 0;
$sidebar-sub-item-padding-y:          0;
$sidebar-sub-item-padding-x:          $spacer-x;
$sidebar-sub-item-width:              140px;
$sidebar-sub-item-line-height:        $sidebar-menu-item-height;

// Sidebar Menus

$sidebar-menu-item-border-w:          3px;
$sidebar-menu-item-border-default:    solid $sidebar-menu-item-border-w transparent;
$sidebar-menu-item-border-hover:      solid $sidebar-menu-item-border-w $theme-color;

$sidebar-menu-item-padding-y:     $spacer-y;
$sidebar-menu-item-padding-l:     $spacer-x * 2 +17px;
$sidebar-menu-item-padding-r:     $sidebar-menu-item-padding-l;
$sidebar-menu-item-line-height:   $sidebar-menu-item-height - $sidebar-menu-item-padding-y * 2;


// Tab bar

$tabbar-bg:                   $white;

$tabbar-border-height:        1px;
$tabbar-border:               $border-default;
$tabbar-item-border:          solid 2px transparent;

$tabbar-height:               40px;
$tabbar-line-height:          $tabbar-height - $tabbar-border-height;

$tabbar-padding:              0 $spacer-x;


// Bottom Footbar

$foobar-bg:                   white!default;
$foobar-border-width:         $border-default-width;
$foobar-border:               $border-default!default;

$foobar-shadow:               $shadow-sm-invert!default;

$foobar-padding-x:            $spacer-x!default;
$foobar-padding-y:            $spacer-y!default;

$foobar-height:               50px!default;
$foobar-line-height:          $foobar-height - $foobar-padding-y * 2 - $foobar-border-width!default;
