@import "variables-constant";

//
// About scroll bar variables

$scrollbar-width:                 6px;
$scrollbar-bg:                    $color-gray-300 !default;
$scrollbar-thumb-bg:              $color-gray-400 !default;
$scrollbar-thumb-bg-hover:        $color-actives !default;
$scrollbar-thumb-radius-size:     3px;


//
// About sidebar
$sidebar-width-collapse:          60px;
$sidebar-width-expanded:          210px;

$sidebar-brand-logo-size:         40px;
$sidebar-brand-title-height:      36px;
$sidebar-brand-height:            100px;
$sidebar-brand-padding-x:         $spacer-sm;
$sidebar-brand-padding-y:         ($sidebar-brand-height - $sidebar-brand-logo-size) / 2;

$sidebar-nav-icon-size:           $font-size-h4;

$sidebar-nav-link-height:             50px;
$sidebar-nav-link-line-height:        $sidebar-nav-link-height;
$sidebar-nav-link-border-left-width:  3px;
$sidebar-nav-link-padding-x:          $spacer-lg;

//
// About head bar
$head-border:                   $border-default;
$head-height:                   45px;
$head-line-height:              $head-height - $border-default-width; // 44px
$head-bg-color:                 $color-white !default;

$head-nav-item-border-width:    2px;
$head-nav-item-border:          solid $head-nav-item-border-width transparent;
$head-nav-item-border-hover:    solid $head-nav-item-border-width $color-theme;
$head-nav-height:               $head-line-height;  // 44px
$head-nav-line-height:          $head-nav-height - ($head-nav-item-border-width * 2);
$head-nav-item-spacer:          $spacer-base;
$head-nav-item-padding:         0 $head-nav-item-spacer $head-nav-item-border-width;
$head-nav-font-size:            $font-size-h3;
$head-nav-item-avatar-size:     32px;
$head-nav-form-width:           220px;

$head-nav-form-spacer:          6px;


//
// About tabs bar
$tabs-border:                   $border-default;
$tabs-bg-color:                 $color-white !default;

$tabs-item-border-width:        2px;
$tabs-item-spacer:              12px;
$tabs-item-icon-size:           $font-size-h4;

$tabs-height:                   36px;
$tabs-line-height:              $tabs-height;
$tabs-wrapper-padding:          0 $spacer-base;

$tabs-item-close-size:          18px;
$tabs-item-close-padding:       2px;


//
// About foot bar
$foot-border:                   $border-default;
$foot-bg-color:                 $color-white !default;
$foot-padding-y:                $spacer-sm;
$foot-padding-x:                $spacer-base;
$foot-wrapper-padding:          $foot-padding-y $foot-padding-x;
$foot-height:                   50px;
$foot-line-height:              $foot-height - $foot-padding-y * 2;


//
// App wrapper vars
$main-wrapper-padding-top:      $head-height + $tabs-height;
$main-wrapper-padding-bottom:   $foot-height;

$body-wrapper-padding:          $spacer-base;
$body-wrapper-bg-color:         $color-white !default;
