//
// System scss variables

@import "variable-constants";


//
// About scroll bar variables

$scrollbar-width:                 6px;
$scrollbar-bg:                    $color-gray-300;
$scrollbar-thumb-bg:              $color-gray-400;
$scrollbar-thumb-bg-hover:        $color-actives;
$scrollbar-thumb-radius-size:     3px;


//
// About sidebar
$sidebar-width-collapse:          60px;
$sidebar-width-expanded:          210px;
$sidebar-bg-color:                $color-gray-900;
$sidebar-color:                   $color-gray-600;
$sidebar-color-focus:             $color-white;
$sidebar-color-active:            $color-actives;
$sidebar-color-brand:             $color-gray-500;

$sidebar-brand-padding-x:         $spacer-sm;
$sidebar-brand-padding-y:         $spacer-xxs;
$sidebar-brand-height:            100px;
$sidebar-brand-line-height:       $sidebar-brand-height - ($sidebar-brand-padding-y * 2);
$sidebar-brand-font-size:         $font-size-h2;

$sidebar-nav-expanded-bg:         $color-gray-1000;
$sidebar-nav-icon-size:           $font-size-h4;

$sidebar-nav-link-height:            50px;
$sidebar-nav-link-line-height:       $sidebar-nav-link-height;
$sidebar-nav-link-border-left-width:  3px;
$sidebar-nav-link-border-color:       $color-theme;
$sidebar-nav-link-padding-x:          $spacer-lg;

//
// About head bar
$head-border:                   $border-default;
$head-height:                   50px;
$head-line-height:              $head-height - $border-default-width;
$head-bg-color:                 $color-white;

$head-nav-height:               $head-line-height;
$head-nav-line-height:          $head-nav-height;
$head-nav-item-padding:         0 $spacer-base;
$head-nav-item-border-width:    2px;
$head-nav-item-border:          solid $head-nav-item-border-width transparent;
$head-nav-item-border-hover:    solid $head-nav-item-border-width $color-theme;
$head-nav-font-size:            $font-size-h3;



//
// About tabs bar
$tabs-border:                   $border-default;
$tabs-bg-color:                 $color-white;
$tabs-height:                   40px;
$tabs-line-height:              $tabs-height;
$tabs-wrapper-padding:          0 $spacer-base;


//
// About foot bar
$foot-border:                   $border-default;
$foot-bg-color:                 $color-white;
$foot-padding-y:                $spacer-sm;
$foot-padding-x:                $spacer-base;
$foot-wrapper-padding:          $foot-padding-y $foot-padding-x;
$foot-height:                   50px + $border-default-width;
$foot-line-height:              $foot-height - $border-default-width - $foot-padding-y * 2;


//
// App wrapper vars
$main-wrapper-padding-top:      $head-height + $tabs-height;
$main-wrapper-padding-bottom:   $foot-height;

$body-wrapper-padding:          $spacer-base;
$body-wrapper-bg-color:         $color-white;
