//
// About Font variables

// Font family

$font-family-default:         Roboto, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif !default;


// Fonts size

$font-size-base:              14px!default;
$font-size-sm:                13px!default;
$font-size-xs:                12px!default;
$font-size-lg:                16px!default;
$font-size-xl:                18px!default;
$font-size-xxl:               22px!default;

$font-size-icons:             $font-size-lg;
