//
// Shadows

$shadow-color:                rgba(0, 0, 0, .075)!default;

$shadow-sm:                   0 .1rem .2rem $shadow-color!default;
$shadow-sm-invert:            0 -.1rem .2rem $shadow-color!default;
$shadow-md:                   0 .2rem .4rem $shadow-color!default;

$shadow-sm-horizontal:        .1rem 0 .2rem $shadow-color!default;
