//
// About size variables


// Spacers

$spacer-y:                    9px!default;
$spacer-x:                    15px!default;


// line, borders

$border-default-width:        1px;
$border-default-color:        $gray-300!default;
$border-default:              solid $border-default-width $gray-300!default;
$border-theme:                solid $border-default-width $theme-color;


// device breakpoint

$d-sm:  768px;
$d-md:  992px;
$d-lg:  1200px;
$d-xl:  1920px;
