//
// Transitions

$transition-duration:         .28s!default;

$transition-default:          all $transition-duration ease-out!default;
$transition-border:           border $transition-duration ease-out!default;
$transition-opacity:          opacity $transition-duration ease-out!default;
$transition-background:       background $transition-duration ease-out!default;
$transition-color:            color $transition-duration ease-out!default;
$transition-margin:           margin $transition-duration ease-out!default;
$transition-transform:        transform $transition-duration ease-out!default;

$transition-sidebar-desktop:  width $transition-duration ease-out!default;
$transition-main-desktop:     margin-left $transition-duration ease-out!default;
$transition-main-mobile:      left $transition-duration ease-out!default;
