//
// zindex

$zindex-sidebar:              1030;
$zindex-sidebar-dropdown:     1040;
$zindex-sidebar-backdrop:     1020;
$zindex-header:               1000;
$zindex-header-dropdown:      1010;
$zindex-tabbar:               1000;
$zindex-breadcrumb:           1000;
$zindex-footer:               1000;

$zindex-text-editor:          1031;
