.app-breadcrumb {
  border-bottom: $breadcrumb-border;
  height: $breadcrumb-height;
  line-height: $breadcrumb-line-height;
  padding: $breadcrumb-padding;
  background-color: $breadcrumb-bg;
  box-shadow: $shadow-sm;

  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  z-index: $zindex-tabbar;

  .el-breadcrumb__item {
    a {
      color: $color-blue;
      font-weight: normal;
    }

    .no-redirect {
      color: $gray-500!important;
    }
  }
}

//
// breadcrumb transition animations

.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
