.va-head-bar {
  width: 100%;
  height: $head-height;
  line-height: $head-line-height;
  background-color: $head-bg-color;
  border-bottom: $head-border;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-header;
}

.va-head-nav {
  display: inline-block;
  padding: 0 $head-nav-item-spacer;
  height: $head-nav-height;
  list-style: none;
  margin: 0;

  &.nav-left {
    float: left;
  }

  &.nav-right {
    float: right;
  }

  .va-nav-item {
    float: left;
    height: $head-nav-height;
    line-height: $head-nav-line-height;
    padding: $head-nav-item-padding;
    border-top: $head-nav-item-border;
    font-size: $head-nav-font-size;
    cursor: pointer;

    transition: $transition-border, $transition-color;

    &:hover {
      border-top: $head-nav-item-border-hover;
    }

    &.active {
      color: $color-actives;
    }

    &.spacer-xs {
      padding: 0 5px;
    }

    &.link-user .avatar {
      width: $head-nav-item-avatar-size;
      height: $head-nav-item-avatar-size;
      border-radius: 50%;
      vertical-align: -($head-nav-height - $head-nav-item-avatar-size)/2;
    }

    .va-icon {
      vertical-align: -3px;
    }

    .el-badge {
      display: inline;
      vertical-align: unset;

      .el-badge__content {
        top: 6px;
        right: 6px;
      }
    }
  }
}

.nav-head-search {
  display: inline-block;
  vertical-align: top;
  width: auto;

  .el-input__inner {
    height: $head-nav-height;
    line-height: $head-nav-line-height;
    padding: 0 $head-nav-form-spacer;
    border-top: $head-nav-item-border;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: $head-nav-item-border;
    border-radius: unset;
    vertical-align: top;

    transition: $transition-border;

    &:hover, &:focus {
      border-top: $head-nav-item-border-hover;
    }
  }
}

@media screen and (max-width: $device-sm) {
  .va-head-nav {
    padding: 0;
  }
}
