.app-sidebar {
  height: 100%;
  background-color: $sidebar-bg;
  color: $white;
  z-index: $zindex-sidebar;
}

.app-brand {
  padding: $sidebar-brand-padding-y $sidebar-brand-padding-x;
  height: $sidebar-brand-height;
  line-height: $sidebar-brand-line-height;
  white-space: nowrap;
  overflow: hidden;

  .logo {
    width: $sidebar-brand-line-height;
    height: $sidebar-brand-line-height;
    margin-right: $sidebar-brand-padding-x;
    vertical-align: top;
  }
  .title {
    display: inline-block;
    vertical-align: middle;
    font-size: $font-size-xl;
  }
}

.sidebar-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  a {
    display: block;
    color: $gray-400;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      color: $white;
    }

    &.active {
      color: $theme-color;
    }
  }

  .menu-item {
    position: relative;

    .item-link {
      border-left: $sidebar-menu-item-border-default;
      border-right: $sidebar-menu-item-border-default;
      height: $sidebar-menu-item-height;
      line-height: $sidebar-menu-item-line-height;
      padding: $sidebar-menu-item-padding-y 0 $sidebar-menu-item-padding-y $sidebar-menu-item-padding-l;
      font-size: $font-size-xl;
      cursor: pointer;
      position: relative;
      transition: $transition-border;

      &:hover {
        border-left: $sidebar-menu-item-border-hover;
      }

      .icon-svg {
        position: absolute;
        top: 50%;
        margin-top: -$font-size-xl/2;
        left: $spacer-x + $sidebar-menu-item-border-w;
      }

      .el-icon {
        position: absolute;
        top: 50%;
        margin-top: -$font-size-xl*0.8/2;
        right: $spacer-x;
        font-size: 0.9em;
        transform: rotate(0);
        transition: $transition-default;
        transition-duration: 0.18s;
      }

      cite {
        display: none;
        font-style: normal;
        font-size: 1rem;
      }
    }

    .menu-subs {
      border-radius: 3px;
      background-color: darken($sidebar-bg, 2%);

      .subs-item {
        height: $sidebar-menu-item-height;
        line-height: $sidebar-sub-item-line-height;
        padding: $sidebar-sub-item-padding-y $sidebar-sub-item-padding-x;
        font-size: 1rem;

        &:hover {
          background-color: rgba(0, 0, 0, .3);
        }
      }
    }
  }
}
