.va-sidebar {
  height: 100%;
  padding-top: $sidebar-brand-height;
  background-color: $sidebar-bg-color;

  position: absolute;
  z-index: $z-index-sidebar;
  left: 0;
  top: 0;
  bottom: 0;

  transition: $transition-width, $transition-padding, $transition-transform;

  &, & a {
    color: $sidebar-color;
    text-decoration: none;
  }
}

.va-side-backdrop {
  background-color: $color-overlay;

  position: absolute;
  z-index: $z-index-sidebar-backdrop;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $transition-opacity;
}

.va-side-brand {
  height: $sidebar-brand-height;
  line-height: $sidebar-brand-line-height;
  padding: $sidebar-brand-padding-y $sidebar-brand-padding-x;
  font-size: $sidebar-brand-font-size;
  color: $sidebar-color-brand;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: $transition-padding, $transition-height;

  .brand-name {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 300;

    > strong {
      font-weight: 500;
    }
  }
}

.va-side-main {
  height: 100%;
  padding-bottom: $sidebar-nav-link-height + $border-default-width;
  position: relative;
}

@media screen and (min-width: $device-md) {
  .va-side-backdrop {
    display: none;
  }

  .va-app-wrapper {

    &.sidebar-collapse {
      .va-side-brand .subname { display: none; }

      .va-side-nav {
        .item-name, .expander-icon { display: none; }
      }
    }
  }
}


@media screen and (max-width: $device-md) {
  .va-app-wrapper {
    &.sidebar-expanded .va-side-backdrop {
      visibility: visible;
      opacity: 1;
    }

    &.sidebar-collapse .va-side-backdrop {
      visibility: hidden;
      opacity: 0;
    }
  }
}
