.va-tabs-bar {
  height: $tabs-height;
  line-height: $tabs-height;
  background-color: $tabs-bg-color;
  position: absolute;
  top: $head-height;
  left: 0;
  right: 0;
  z-index: $z-index-tabbar;
  box-shadow: $shadow-sm-vr;
  @extend .clear-fix;

  .tabs-item {
    display: block;
    height: $tabs-height;
    line-height: $tabs-line-height;
    padding: 0 $tabs-item-spacer;
    float: left;
    vertical-align: top;
    border-right: solid $color-gray-100 1px;
    border-top: solid $tabs-item-border-width transparent;
    position: relative;
    text-transform: capitalize;
    color: $color-text-secondary;
    transition: $transition-color, $transition-border, $transition-background;

    &:first-child {
      border-left: solid $color-gray-100 1px;
    }

    .link-home {
      width: $tabs-item-icon-size;
      height: $tabs-item-icon-size;
      vertical-align: -3px;
    }

    .tabs-item__close {

      .va-icon {
        width: $tabs-item-close-size;
        height: $tabs-item-close-size;
        border-radius: 50%;
        padding: $tabs-item-close-padding;
        vertical-align: -4px;
      }

      &:hover {
        color: $color-white;

        .va-icon {
          background-color: $color-theme;
        }
      }
    }

    &:hover {
      color: $color-text-primary;
    }

    &.active {
      background-color: $border-color;
      border-top-color: $color-theme;
      color: $color-theme;
    }
  }
}
